.card-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.card-list__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 30px;
  font-weight: 600;
}
.card-list__title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}
