.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  min-height: 100px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
.menu__item-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu__item img {
  width: 30px;
}
.menu__item > * {
  font-size: 20px;
  line-height: 20px;
}
.menu__item:visited {
  color: var(--black);
}
.menu__counter {
  padding: 10px 13px;
  border: 1px solid var(--black);
  border-radius: 100%;
}
